body {
 background-color:#B6E9F8;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.water{
	width:1060px;
	height: 530px;
}
a {
  color: #00B7FF;
}


.background {
fill:transparent;
}
.tick_unused{
    stroke: gray;
  stroke-width:1;
}

.tick_curr_temp {
  fill: blue;
  stroke: #6EC4F8;
  stroke-width:3;
}


.progress-meter text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.bubble{
  stroke:white;
    stroke-width:2;
    fill:transparent;
}
.small_bubble{

    stroke:white;
    stroke-width:1;
    fill:transparent;
}