doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://d3js.org/d3.v3.min.js" charset="utf-8")
    script(src="/javascripts/main.js")
    script(src="http://code.jquery.com/jquery-1.11.0.min.js")
    script(src="http://code.jquery.com/jquery-migrate-1.2.1.min.js")

  body
   script(type="text/javascript").
     $(document).ready(init);
   block content


